logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
lib_managed/*
project/.idea/
project/.idea_modules
project/.sbtserver
project/.sbtserver.lock

projectFilesBackup*
.sbtserver
*.dylib
node_assets_build.lock
/.envrc
